<header>
  <div class="logo">
    <img src="assets/logo_kyv.png" alt="Klazienavener Youngtimer Vrienden logo">
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Over ons</a></li>
      <li>
        <a href="#">Oldtimerdag</a>
        <ul class="dropdown">
          <li><a href="#">Standhouders</a></li>
          <li><a href="#">Adverteren</a></li>
        </ul>
      </li>
      <li><a href="#">Foto's</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
