Al enige jaren organiseren wij de Oldtimerdag Klazienaveen. Een dag waarin gezelligheid en oude voertuigen centraal staan. Het evenement mag de laatste jaren rekenen op enkele honderden voertuigen en ruim duizend bezoekers.
<br/>
De oldtimerdag wordt georganiseerd op het parkeerterrein van de ijsvereniging Barger Oosterveen, het terrein heeft de grootte van een voetbalveld en ligt verscholen tussen de bomen. Hierdoor kunnen er vele voertuigen staan en kan iedereen uit de wind genieten van al het moois wat er die dag te zien is. Er zijn altijd gezellige kraampjes aanwezig en ook aan de inwendige mens is gedacht. In de kantine van de ijsvereniging kun je terecht voor een bakje koffie, ook is daar een toilet aanwezig. Tevens is er altijd een cateraar aanwezig, zodat je onder het genot van wat lekkers met andere liefhebbers praten over je grote hobby.
<br/>
<br/>
Zelf aanwezig zijn met je kraampje met koopwaar? Klik dan <a routerLink="/standhouders">hier</a>.
<br/>
Ook bieden we de mogelijkheid om onze oldtimerdag te ondersteunen door <a routerLink="/adverteren">sponsoring</a>.
<br/>
<br/>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1208.7428532099407!2d6.974089568490292!3d52.70537799593187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDQyJzE5LjQiTiA2wrA1OCczMC4zIkU!5e0!3m2!1snl!2snl!4v1584716243102!5m2!1snl!2snl"
  width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
