<img src="assets/oldtimer_collage_transparent_bg.png"/>
<br/>
<br/>
<b>Welkom bij de Klazienavener Youngtimer Vrienden</b>
<br/>
Wij zijn een vriendengroep uit Klazienaveen met een flinke dosis liefde voor alles wat rijdt en een verhaal heeft. Of het nou gaat om glimmende oldtimers, ronkende brommers, robuuste trekkers of klassieke motoren – als het wielen en karakter heeft, zijn wij enthousiast.
<br/>
<br/>
Zelf hebben we misschien niet allemaal een oldtimer in de schuur staan, maar dat houdt ons niet tegen. Wat we wél hebben is een gedeelde passie en een flinke portie gezelligheid. En precies dat brengen we elk jaar samen tijdens onze oldtimerdag.
<br/>
<br/>
Die dag is er voor iedereen. Of je nu met een voertuig komt of gewoon even wilt rondneuzen, herinneringen ophalen of een praatje maken – je bent van harte welkom. Er is van alles te zien, te horen, te ruiken (ja, we houden van die ouderwetse benzinegeur), en natuurlijk ook te eten en drinken.
<br/>
<br/>
De sfeer is gemoedelijk, de voertuigen zijn prachtig, en de mensen zijn nog mooier. Dus kom langs, neem de kinderen mee, of je buurman – en geniet met ons mee van een dag vol nostalgie en plezier.
